body {
    font-family: 'Roboto', sans-serif;
    background-color: #faedcd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.StartText {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    width: 800px;
    height: 100px;
    background-color: #f8f9ea;
    color: darkred;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #f8f9ea;
    color: darkblue;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* 👈 funciona melhor que column-gap */
    align-items: center;
}

input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

label {
    text-align: center;
    font-weight: 550;
}